{% extends "base.html" %}

	{% block title %}Booking for {{competition['name']}} || GUDLFT{% endblock %}

	{% block content %}
	    <h2>{{competition['name']}}</h2>
	    Places available: {{competition['numberOfPlaces']}}
	    <form action="/purchasePlaces" method="post">
	        <input type="hidden" name="club" value="{{club['name']}}">
	        <input type="hidden" name="competition" value="{{competition['name']}}">
	        <label for="places">How many places?</label><input type="number" name="places" id=""/>
	        <button type="submit" id="btnBook">Book</button>
	    </form>



        {% include 'message.j2' %}

	{% endblock content %}