{% extends "base.html" %}

{% block title %}GUDLFT Registration{% endblock %}

    {% block content %}
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>

    {% include 'message.j2' %}
    <a href="{{ url_for('list_clubs') }}">List of clubs</a>

{% endblock content %}