{% extends "base.html" %}

	{% block title %}GUDLFT List Clubs{% endblock %}

	{% block content %}


    <a href="{{ url_for('index') }}">Return</a>

    <h3>Clubs</h3>
    <table style="border: 1px solid black;border-collapse: collapse;">
        <tr>
            <td  style="border: 1px solid black;border-collapse: collapse;">Club Name</td>
            <td  style="border: 1px solid black;border-collapse: collapse;">Points</td>            
        </tr>
        {% for club in clubs%}
        <tr>
            <td  style="border: 1px solid black;border-collapse: collapse;">{{club['name']}}</td>
            <td  style="border: 1px solid black;border-collapse: collapse;">{{club['points']}}</td>            
        </tr> 
        {% endfor %}              
    </table>



	{% endblock content %}